<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Teams</li>
  </ol>
</nav>

<%= link_to 'New Team', new_team_path, class: 'btn btn-success' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Devs</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.users ? team.users.count : 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

