<div class="row mt-4 mb-4">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= current_user.name || current_user.username %></li>
      </ol>
    </nav>
  </div>
</div>