GITHUB_ACCESS_TOKEN=

DATABASE_URL='postgres://postgres:@localhost:5432'
REDIS_URL='redis://localhost:6379'
DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL='true'
USERNAME='username'
PASSWORD='password'
#APP_DOMAIN=