GITHUB_ACCESS_TOKEN=

DATABASE_URL='postgres://postgres:@localhost:5432'
REDIS_URL='redis://localhost:6379'
DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL='true'
USERNAME='username'
PASSWORD='password'
MEILI_MASTER_KEY='0a62e145-b3ec-4a64-b3f5-54c5adf7dbac'
MEILI_HTTP_ADDR='http://0.0.0.0:7700'