<span class="badge ml-1 mr-1 mb-1" style="background-color: <%= value.color %>; font-weight: 400;">
  <span style="color: <%= value.color %>; filter: invert(100%);">
    <%= value.name %>
  </span>
</span>
