<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% object.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= link_to user.team.name, team_path(user.team) %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Delete', user_path(user), class: "btn btn-danger btn-sm", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>