<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Members</li>
      </ol>
    </nav>
  </div>
</div>

<div class="mt-4">
  <% @users.in_batches(of: 4) do |user_batch| %>
    <div class="card-deck mb-3">
      <% user_batch.each do |user| %>
        <div class="card" style="width: 18rem;">
          <%= link_to user_path(user) do %>
            <%= image_tag JSON.parse(user.source).fetch("avatar_url"), class: "card-img-top" %>
            <div class="card-body">
              <p class="card-text"><%= user.name %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

