<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Members", users_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.name %></li>
  </ol>
</nav>
<p>Show individual happiness levels + average</p>
<h4>Happiness</h4>