<% if object.errors.any? %>
  <div class=" mt-1">
    <h6><%= pluralize(object.errors.count, "error") %> <%= t('forms.errors') %>:</h6>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>