<div class="btn-group btn-group-lg footer-navigation" role="group" aria-label="Footer Navigation">
  <%= link_to 'Commmits', commmits_path, class: "btn btn-secondary #{active("commmits")} w-50", type: :button %>
  <%= link_to 'Stories', stories_path, class: "btn btn-secondary #{active("stories")} w-50", type: :button %>
</div>