<div class="card">
  <div class="card-body">
    <small><i>I want...</i></small>
    <h6><b><%= object.i_want %></b></h6>
    <small><i>So that...</i></small>
    <h6><%= object.so_that %></h6>
  </div>
</div>