<div class="row mt-4">
  <div class="col-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Sprints</li>
      </ol>
    </nav>
  </div>
  <div class="col-2 text-right">
    <%= link_to 'New Sprint', new_sprint_path, class: 'btn btn-success btn-lg btn-block' %>
  </div>
</div>

<%= render 'table', object: @sprints %>

<%= paginate @sprints, theme: 'twitter-bootstrap-4' %>