<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Tickets</li>
  </ol>
</nav>

<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>

<%= render 'table', object: @tickets %>

<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>
