<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Tickets", tickets_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Ticket</li>
  </ol>
</nav>

<h1>New Ticket</h1>
<%= render 'form' %>