<% content_for :nav_header do %>
  Stories
<% end %> 

<div class="grid-content">
  <% if @stories.empty? %>
    <p class="text-center text-secondary mt-2">You haven't created any stories yet</p>
  <% end %>
  <div class="card-deck">
    <% @stories.each do |story| %>
      <div class="card">
        <div class="card-body">
          <small><i>I want&hellip;</i></small>
          <h5><b><%= link_to story.i_want, edit_story_path(story) %></b></h5>
          <small><i>So that&hellip;</i></small>
          <h6><%= story.so_that %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/actions", actions: [{ label: 'New Story', path: new_story_path }] %>