<% content_for :nav_header do %>
  <%= t('footer_nav.right_button') %>
<% end %> 

<div class="grid-content">
  <% if @stories.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('stories.index.no_stories_yet') %></p>
  <% end %>
  <div class="card-deck">
    <% @stories.each do |story| %>
      <%= render 'story', story: story %>
    <% end %>
  </div>
</div>

<%= render "shared/actions", actions: [{ label: t('stories.index.new_story'), path: new_story_path }] %>