<% content_for :nav_header do %>
  Stories
<% end %> 

<div class="grid-content">
  <% if @stories.empty? %>
    <p class="text-center text-secondary mt-2">You haven't created any stories yet</p>
  <% end %>
  <div class="card-deck">
    <% @stories.each do |story| %>
      <%= link_to edit_story_path(story) do %>
        <div class="card">
          <div class="card-body">
            <small><i>I want...</i></small>
            <h6><b><%= story.i_want %></b></h6>
            <small><i>So that...</i></small>
            <h6><b><%= story.so_that %></b></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/actions", actions: [{ label: 'New Story', path: new_story_path }] %>