<% content_for :hide_footer_nav? do %>
  true
<% end %>

<%= form_for @story, html: { class: 'flex-form' } do |f| %>
  <%= render 'fields', f: f %>

  <div class="grid-actions">
    <%= f.submit "Create Story", class: "btn btn-lg btn-success btn-block" %>
    <%= link_to 'Cancel', stories_path, class: "btn btn-lg btn-secondary btn-block" %>
  </div>
<% end %>
