<% content_for :nav_header do %>
  <%= t('tags.index.header') %>
<% end %> 

<div class="grid-content">
  <%= render 'create_tag', story: @story %>
  <% @tags.each do |tag| %>
    <%= render 'tag', tag: tag %>  
  <% end %>
</div>
