<% content_for :nav_header do %>
  <%= t('footer_nav.left_button') %>
<% end %> 

<div class="grid-content">
  <% if @commmits.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.index.no_commmits_yet') %></p>
  <% end %>
  <div class="card-deck">
    <%= render partial: "commmit", collection: @commmits %>
  </div>
</div>

<%= render "shared/actions", actions: [{ label: t('commmits.index.new_commmit'), path: new_commmit_path }] %>