<%= render 'shared/errors', object: story %>

<%= form_with model: story, url: create_commmit_goal_path, html: { class: 'flex-form' } do |f| %>
  <div class="form-content" data-controller="auto-add-story">
    <%= render 'stories/fields', f: f, story: story %>
  </div>
  
  <div class="form-group form-actions">
    <%= f.submit t('stories.form.create'), 
                 class: "btn btn-lg btn-success btn-block" %>
  </div>
<% end %>