.btn-colored_toggle.active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn--done {
  display: flex;
  align-items: center;
  justify-content: center;
}
