.footer-navigation {
  width: 100%;

  & a {
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  & a:last-child {
    border-left: 1px solid dimgray;
  }

  &__buttons {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
