.reflection__happiness {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;

  &_rule {
    width: 100%;
    background: white;
    opacity: 0.2;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &_label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > svg {
    width: 100%;

    &.active {
      fill: var(--primary);
    }
  }

  &_option {
    position: absolute;
    opacity: 0;

    &:checked + svg {
      fill: var(--primary);
    }
  }
}
