.story__modal {
  background-color: black;

  &-content {
    border: 0;
    background-color: black;

    & * .form-actions {
      margin-bottom: 0;
    }
  }
}

.story__notes--focus-mode {
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
