@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import './bootstrap';

@import '~bootswatch/dist/darkly/variables';
@import '~bootswatch/dist/darkly/bootswatch';

@import './fonts';
@import './_variables';
@import './_mixins';
@import './_nav-bar';
@import './_footer-navigation';
@import './_grid';
@import './_forms';
@import './_tabs';
@import './_alert';
@import './_modal';
@import './_card';
@import './_discard-link';

html {
  @include enforce-mobile-viewport;

  height: 100%;
}

body {
  padding-top: 57px;
  height: 100%;
}

.close-button {
  vertical-align: middle;
  color: white;
  padding: 0;
  mix-blend-mode: hard-light;
}

.link-button {
  border: 0;
  background: none;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.btn-link {
  padding: 0;
  font-weight: normal;
}
