@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import './bootstrap';

@import '~bootswatch/dist/darkly/variables';
@import '~bootswatch/dist/darkly/bootswatch';

@import './mixins';
@import './variables';

@import './alert';
@import './card';
@import './discard-link';
@import './divider';
@import './flash-messages';
@import './fonts';
@import './forms';
@import './footer-navigation';
@import './grid';
@import './modal';
@import './nav-bar';
@import './story';
@import './tabs';

html {
  @include enforce-mobile-viewport;

  height: 100%;
}

body {
  padding-top: 57px;
  height: 100%;
}

.show {
  display: flex !important;
}

.page-actions {
  position: sticky;
  bottom: 0.5rem;
}

.pill-actions {
  position: sticky;
  top: 0;
  z-index: 999;
}

.values {
  display: inline-flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.badge {
  font-size: 80%;
}

.nav-pills {
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.close-button {
  vertical-align: middle;
  color: white;
  padding: 0;
  mix-blend-mode: hard-light;
}

.link-button {
  border: 0;
  background: none;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.btn-link {
  padding: 0;
  font-weight: normal;
}
