@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import './bootstrap';

@import '~bootswatch/dist/darkly/variables';
@import '~bootswatch/dist/darkly/bootswatch';

@import './mixins';
@import './variables';

@import './alert';
@import './badge';
@import './btn-link';
@import './card';
@import './discard-link';
@import './divider';
@import './flash-messages';
@import './fonts';
@import './forms';
@import './footer-navigation';
@import './grid';
@import './link-button';
@import './modal';
@import './nav-bar';
@import './nav-link';
@import './nav-pills';
@import './page-actions';
@import './pill-actions';
@import './story';
@import './tabs';
@import './text-secondary';
@import './tooltip-inner';
@import './values';

// 3. Style the focus view
// 4. Move the SVGs out of the partials

html {
  @include enforce-mobile-viewport;

  height: 100%;
}

body {
  padding-top: 57px;
  height: 100%;
}
